.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: darkgrey;
}

.logo-div {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 5px;
  font-size: 25px;
}

.logo-trybe {
  margin: 10px;
}

.header > div {
  width: 36%;
}