
body {
  color: rgb(255, 242, 225);
}

.header {
  display: flex;
  position: fixed;
  flex-flow: column;
  background-color: rgb(71, 71, 71);
  width: 100%;
  color: rgb(255, 242, 225);
}

.upper-header {
  display: flex;
  justify-content: space-between;
  background-color: darkgrey;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 25px;
}

.logo-trybe {
  margin: 10px;
}

.upper-header > div {
  width: 36%;
}

.bottom-header {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}

.bottom-header > div {
  flex-shrink: 4;
}

ul {
  list-style: none;
}

.bottom-header ul {
  margin: 0 auto;
}

.bottom-header li {
  border-radius: 25px 25px;
  margin: 0 5px;
  background-color: rgb(121, 121, 121);
  color: rgb(255, 242, 225);
}

.recommendations > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

li > img {
  min-width: 100px;
  max-width: 300px;
}

li > label {
  max-width: fit-content;
}


